.brands-wrapper {
  background-image: url(/images/bg-texture.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 0 13rem 0;
  overflow: hidden;
}

.brands-title-wrapper {
  display: block;
  text-align: center;
  line-height: 1;
  z-index: 20;
}

.brands-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap: 5rem;
}

.brands-div img {
  height: auto;
  max-width: 80%;
  display: block;
  margin: auto;
}

.general-title-fg {
  font-size: clamp(2rem, 6vw, 10rem);
}

@media (max-width: 1024px) {
  .brands-wrapper h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .brands-wrapper {
    padding: 6rem 0 8rem 0;
  }

  .brands-wrapper h2 {
    font-size: 2.8rem;
  }

  .brands-div img {
    max-width: 92%;
  }
}

@media (max-width: 480px) {
  .brands-wrapper {
    padding: 1rem 0 8rem 0;
  }

  .brands-wrapper h2 {
    font-size: 2rem;
  }
}
