.shop-section {
  background-image: url(/images/bg-texture.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-teaser-container {
  width: 63%;
  margin: 0 auto;
  background-image: url(/images/bg-fly.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding: 3rem 0 0 3rem;
}

.shop-teaser-content {
  flex: 1 1 10%;
  max-width: 522px;
}

.shop-title-wrapper {
  position: relative;
  margin-bottom: 2rem;
  display: block;
  line-height: 1;
}

.shop-teaser-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 300;
  margin: 0 0 1.5rem 0;
}

.shop-teaser-image {
  flex: 1 1 55%;
  position: relative;
  max-width: 100%;
  height: auto;
}

.shop-teaser-image img {
  position: relative;
}

.skater {
  position: absolute;
  top: -19rem;
  left: 3rem;
  z-index: 2;
}

@media (max-width: 1200px) {
  .general-title-fg {
    font-size: 8rem;
    bottom: -4rem;
  }
}

@media (max-width: 992px) {
  .shop-teaser-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 40px 20px 0 20px;
    gap: 8rem;
  }

  .shop-teaser-content {
    order: -1;
    max-width: 100%;
  }

  .skater {
    top: -13rem;
    left: -6rem;
  }

  .general-title-fg {
    position: static;
  }

  .shop-teaser-image {
    height: auto;
  }
}

@media (max-width: 576px) {
  .shop-teaser-content {
    text-align: center;
  }

  .shop-teaser-content p {
    font-size: 15px;
  }
}
