.discount-section {
  padding: 8rem 0;
  background-image: url(/images/bg-texture.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid #c5c4c0;
}

.discount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.discount-container h2 {
  font-family: "anton";
  color: #202020;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  max-width: 687px;
  text-align: center;
  text-transform: uppercase;
}

.discount-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.discount-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.discount-form input {
  width: 100%;
  background: transparent;
  border: none;
  color: #202020;
  font-size: 20px;
  padding: 10px 4px;
  border-bottom: 2px solid #202020;
  outline: none;
  transition: border-color 0.3s ease;
}

.discount-form input::placeholder {
  color: #1b667f;
  opacity: 0.8;
}

.error-message {
  font-size: 13px;
  color: #ff8b2b;
  margin-top: 4px;
  opacity: 0;
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.discount-form-group.error input {
  border-color: #ff8b2b;
}

.discount-form-group.success input {
  border-color: #1b667f;
}

.discount-form-group.error .error-message {
  opacity: 1;
  transform: translateY(0);
}

.discount-form-group.success .error-message {
  opacity: 0;
}

.custome-btn {
  width: fit-content;
  border: 0;
  margin: 0 auto;
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  padding: 10px 20px;
  border-radius: 100px;
  background: #1b667f;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 2px solid #202020;
  gap: 10px;
}

.custome-btn > svg {
  width: 30px;
  transition: transform 0.3s ease-in-out;
}

.custome-btn:hover svg {
  transform: translateX(5px);
}

.custome-btn:active {
  transform: scale(0.95);
}

.custome-btn span {
  transition: all 0.3s ease;
}

@media (max-width: 800px) {
  .discount-container {
    flex-direction: column;
    text-align: center;
  }

  .discount-form {
    flex-direction: column;
    gap: 30px;
  }

  .discount-form input {
    width: 70%;
    font-size: 18px;
  }
}
