:root {
  --neutral-light: #d9d9d9;
  --black: #151515;
  --bg-dark: #000;
}

.footer-filler {
  width: 100%;
  height: 66px;
  display: block;
  position: absolute;
  top: -4rem;
  left: 0;
  background-image: url(/images/footer-filler.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.footer-section {
  position: relative;
  background-color: var(--black);
  padding: 4.8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section a:where(:not([class*="btn--"])) {
  color: #d3dde2;
}

.footer-section a:hover:where(:not([class*="btn--"])) {
  color: #ff8b2b;
}

.footer-section :where(h1, h2) {
  font-family: "obviously";
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.footer-container {
  width: 85%;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.7rem;
}

.footer-logo-div {
  grid-column: 1 / end;
}

.footer-logo {
  width: 15em;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  grid-column: 1/3;
}

.footer-contact-div {
  width: 100%;
}

.footer-info-wrapper {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: var(--fr-card-gap);
}

.footer-info-wrapper a.footer-details {
  color: var(--neutral-light);
}

.footer-info-wrapper a.footer-details:hover {
  color: #ff8b2b;
}

.footer-info-div {
  row-gap: 0px;
  column-gap: 0px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-content {
  display: flex;
  flex-direction: column;
  row-gap: 1.89rem;
}

.footer-details {
  text-decoration: none;
  font-size: 1.4rem;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  grid-column: 3 / end;
  flex-direction: column;
  row-gap: 3.03rem;
  position: relative;
}

.footer-wrapper * {
  position: relative;
}

.footer-wrapper > *:nth-child(1)::after,
.footer-wrapper > *:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1em;
  bottom: calc((3.03rem / 2) * -1);
  background-color: rgba(224, 224, 224, 0.1);
}

.footer-nav-wrapper {
  display: grid;
  align-items: initial;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.footer-list {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  list-style-type: none;
}

.footer-link {
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 1rem;
  column-gap: 3.42rem;
  flex-wrap: wrap;
}

.footer-social-ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  margin: 0;
  padding-left: 0;
  flex-shrink: 0;
  list-style: none;
}

.footer-social {
  max-width: fit-content;
}

.social-icon-wrapper {
  display: flex;
  text-decoration: none;
  gap: 5px;
}

.social-icon-wrapper:hover img {
  filter: invert(58%) sepia(86%) saturate(900%) hue-rotate(-10deg)
    brightness(102%) contrast(102%);
}

.footer-block {
  align-items: flex-start;
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 11rem;
}

img {
  height: auto;
  max-width: 100%;
  outline: none;
  vertical-align: middle;
}

.spin-on-scroll {
  animation: spin 1.5s ease-in-out forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 991px) {
  .footer-wrapper {
    grid-column: unset;
  }

  .footer-nav-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .footer-logo-div {
    grid-column: unset;
  }

  .footer-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .footer-social-ul {
    row-gap: 1em;
  }
}

@media (max-width: 767px) {
  .footer-contact {
    margin-bottom: 2rem;
    gap: 10px;
  }

  .footer-logo {
    width: 9rem;
  }

  .footer-section :where(h1, h2) {
    font-size: 1.1rem;
  }

  .footer-info-wrapper a.footer-details {
    font-size: 1.1rem;
  }

  .footer-link {
    font-size: 15px;
  }

  .brxe-section {
    flex-wrap: wrap;
  }

  .brxe-container {
    flex-wrap: wrap;
  }

  .footer-block {
    flex-wrap: wrap;
  }
}

@media (max-width: 478px) {
  .footer-nav-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .footer-social-ul {
    flex-direction: column;
  }
}
