:root {
  --neutral-light: #d9d9d9;
  --black: #151515;
  --secondary-ultra-dark-trans-10: rgba(0, 47, 51, 0.1);
  --neutral-dark-trans-10: rgba(224, 224, 224, 0.1);
  --black-trans-10: rgba(0, 0, 0, 0.1);
  --bg-ultra-light: var(--neutral-ultra-light);
  --bg-light: var(--neutral-light);
  --bg-dark: var(--neutral-dark);
  --bg-ultra-dark: var(--neutral-ultra-dark);
  --text-light: var(--white);
  --text-light-muted: #d3dde2;
  --text-dark: #333;
  --text-dark-muted: var(--black-trans-80);
  --heading-color: var(--heading-dark);
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-gap: var(--space-m);
  --container-gap: var(--space-xl);
  --content-gap: var(--space-m);
  --gutter: 2rem;
  --text-l: 2.025rem;
  --space-xs: 1.896rem;
  --space-m: 2.4rem;
  --space-l: 2.7rem;
  --space-xl: 3.038rem;
  --space-xxl: 3.42rem;
  --section-space-s: 4.8rem;
  --content-width: 136.6rem;
}

.fr-container-gap,
.container-gap {
  --row-gap: var(--container-gap);
  --col-gap: var(--container-gap);
  gap: var(--container-gap);
}

.fr-content-gap,
.content-gap {
  --row-gap: var(--content-gap);
  --col-gap: var(--content-gap);
  gap: var(--content-gap);
}

.fr-grid-gap,
.grid-gap {
  --row-gap: var(--grid-gap);
  --col-gap: var(--grid-gap);
  gap: var(--grid-gap);
}

.gap--none {
  --row-gap: 0;
  --col-gap: 0;
  gap: 0;
}

.footer-filler {
  width: 100%;
  height: 66px;
  display: block;
  position: absolute;
  top: -4rem;
  left: 0;
  background-image: url(/images/footer-filler.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.fr-footer-kilo {
  position: relative;
  background-color: var(--black);
  padding: var(--section-space-s) var(--gutter);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fr-footer-kilo a:where(:not([class*="btn--"])) {
  color: var(--text-light-muted);
}

.fr-footer-kilo a:hover:where(:not([class*="btn--"])) {
  color: #ff8b2b;
}

.fr-footer-kilo :where(h1, h2) {
  font-family: "obviously";
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.fr-footer-kilo__inner {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-l);
}

.fr-footer-kilo__logo-wrapper {
  grid-column: 1 / end;
}

.fr-footer-kilo__logo {
  width: 15em;
}

.fr-footer-kilo__content-block {
  flex-direction: row;
}

.fr-footer-kilo__contact-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--content-gap);
  grid-column: 1/3;
  margin-right: 2rem;
}

.footer-contact-div {
  width: 100%;
}

.fr-contact-info-bravo {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: var(--fr-card-gap);
  --icon-size: 1.5em;
  --icon-fill-color: --neutral-ultra-light;
  --icon-stroke-color: var(--bg-dark);
  --icon-fill-color-hover: transparent;
  --icon-stroke-color-hover: var(--bg-dark);
}

.fr-contact-info-bravo a.fr-contact-info-bravo__details {
  color: var(--neutral-light);
}

.fr-contact-info-bravo a.fr-contact-info-bravo__details:hover {
  color: #ff8b2b;
}

.fr-contact-info-bravo a.fr-contact-info-bravo__details--light {
  color: var(--text-dark);
}

.fr-contact-info-bravo a.fr-contact-info-bravo__details--light:hover {
  color: var(--black);
}

.fr-contact-info-bravo__info-wrapper {
  row-gap: 0px;
  column-gap: 0px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.fr-contact-info-bravo__content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xs);
}

.fr-contact-info-bravo__details {
  text-decoration: none;
  font-size: 1.4rem;
}

.fr-contact-info-bravo__icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: -1;
  align-self: center !important;
  justify-content: center;
  color: var(--primary);
  padding: 0;
}

.fr-contact-info-bravo__icon-wrapper svg {
  height: var(--icon-size);
  width: var(--icon-size);
  fill: var(--icon-fill-color);
  color: var(--icon-stroke-color);
}

.fr-contact-info-bravo__icon-wrapper i {
  font-size: var(--icon-size);
}

.fr-contact-info-bravo__icon-wrapper svg:hover,
.fr-contact-info-bravo__icon-wrapper i:hover {
  color: var(--primary-dark);
  fill: var(--primary-dark);
}

.fr-footer-kilo__content-wrapper {
  display: flex;
  grid-column: 3 / end;
  flex-direction: column;
  row-gap: var(--container-gap);
  position: relative;
}

.fr-footer-kilo__content-wrapper * {
  position: relative;
}

.fr-footer-kilo__content-wrapper > *:nth-child(1)::after,
.fr-footer-kilo__content-wrapper > *:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: calc((var(--container-gap) / 2) * -1);
  width: 100%;
  height: 0.1em;
  background-color: var(--neutral-dark-trans-10);
}

.fr-footer-kilo__nav-wrapper {
  display: grid;
  align-items: initial;
  grid-template-columns: var(--grid-3);
  grid-template-rows: var(--grid-1);
  grid-gap: var(--grid-gap);
}

.fr-footer-kilo__nav-column {
  display: flex;
  flex-direction: column;
}

.fr-footer-kilo__list {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  list-style-type: none;
}

.fr-footer-kilo__link {
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 1rem;
  column-gap: var(--space-xxl);
  flex-wrap: wrap;
}

.fr-social-alpha {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  margin: 0;
  padding-left: 0;
  flex-shrink: 0;
  list-style: none;
}

.fr-social-alpha__list-item {
  max-width: fit-content;
}

.fr-social-alpha__icon {
  color: var(--white);
}

.social-icon-wrapper {
  display: flex;
  text-decoration: none;
  gap: 5px;
}

.social-icon-wrapper:hover img {
  filter: invert(58%) sepia(86%) saturate(900%) hue-rotate(-10deg)
    brightness(102%) contrast(102%);
}

@layer bricks {
  .brxe-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .brxe-section.has-bg-video,
  .brxe-container.has-bg-video,
  .brxe-block.has-bg-video,
  .brxe-div.has-bg-video {
    position: relative;
    z-index: 1;
  }

  .brxe-section.has-shape,
  .brxe-container.has-shape,
  .brxe-block.has-shape,
  .brxe-div.has-shape {
    position: relative;
  }

  .brxe-section.bricks-lazy-hidden,
  .brxe-container.bricks-lazy-hidden,
  .brxe-block.bricks-lazy-hidden,
  .brxe-div.bricks-lazy-hidden {
    background-image: none !important;
  }

  .brxe-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
  }

  .brxe-block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .brxe-div {
    position: relative;
  }

  [class*="brxe-"] {
    max-width: 100%;
  }

  :where([class*="brxe-"].has-shape > *) {
    position: relative;
  }

  svg:not([width]) {
    min-width: 1em;
  }

  svg:not([height]) {
    min-height: 1em;
  }

  svg.fill * {
    fill: inherit;
  }

  svg.stroke * {
    stroke: inherit;
  }

  span[class*="brxe-"]:not(.brxe-section):not(.brxe-container):not(
      .brxe-block
    ):not(.brxe-div) {
    width: auto;
  }

  #brx-footer {
    background-position: 50%;
    background-size: cover;
    flex-shrink: 0;
    margin-top: auto;
    position: relative;
    width: 100%;
  }

  img {
    height: auto;
    max-width: 100%;
    outline: none;
    vertical-align: middle;
  }
}

.spin-on-scroll {
  animation: spin 1.5s ease-in-out forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 991px) {
  .fr-footer-kilo__content-wrapper {
    grid-column: unset;
  }

  .fr-footer-kilo__nav-wrapper {
    grid-template-columns: var(--grid-2);
  }

  .fr-footer-kilo__logo-wrapper {
    grid-column: unset;
  }

  .fr-footer-kilo__inner {
    grid-template-columns: var(--grid-1);
  }

  .fr-social-alpha {
    row-gap: 1em;
  }
}

@media (max-width: 767px) {
  .fr-footer-kilo__contact-wrapper {
    margin-bottom: 2rem;
    gap: 10px;
  }

  .fr-footer-kilo__logo {
    width: 9rem;
  }

  .fr-footer-kilo :where(h1, h2) {
    font-size: 1.1rem;
  }

  .fr-contact-info-bravo a.fr-contact-info-bravo__details {
    font-size: 1.1rem;
  }

  .fr-footer-kilo__link {
    font-size: 15px;
  }

  .brxe-section {
    flex-wrap: wrap;
  }

  .brxe-container {
    flex-wrap: wrap;
  }

  .brxe-block {
    flex-wrap: wrap;
  }
}

@media (max-width: 478px) {
  .fr-footer-kilo__nav-wrapper {
    grid-template-columns: var(--grid-1);
  }
  .fr-social-alpha {
    flex-direction: column;
  }
}
