.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 0;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system;
  display: flex;
  align-items: center;
  padding: 0 100px;
  text-transform: uppercase;
  justify-content: space-between;
  gap: 15px;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 19px;
}

.main-nav a,
.user-nav a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

.user-nav .nav-wrapper a::after,
.main-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.user-nav .nav-wrapper a:hover::after,
.main-nav a:hover::after {
  transform: scaleX(1);
}

.logo img {
  width: 100px;
  height: auto;
}

.user-nav {
  display: flex;
  align-items: center;
}

.mobile-header {
  display: none;
}

.mobile-header-container {
  display: none;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 20px;
}

.mobile-menu-toggle {
  width: 21px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  z-index: 30;
}

.mobile-menu-toggle span {
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  border-radius: 2px;
}

.mobile-menu {
  width: 119px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  padding: 20px 8px 20px 0;
  background: rgba(21, 21, 21, 0.7);
  border-bottom-left-radius: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(30px);
  transition: all 0.2s ease;
  z-index: 100;
  gap: 20px;
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 1314px) {
  .header-container {
    padding: 0 8px;
    gap: 10px;
  }

  .main-nav ul {
    gap: 20px;
  }
}

@media (max-width: 850px) {
  .mobile-header-container {
    display: flex;
  }

  .main-nav,
  .user-nav {
    display: none;
  }

  .logo {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
  }

  .mobile-header {
    display: block;
    position: relative;
  }
}

@media (max-width: 500px) {
  .logo img {
    width: 80px;
  }
}
