.shop-popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.92);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
  padding: 1rem 0 3rem;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
}

.shop-popup.active {
  opacity: 1;
  pointer-events: all;
}

.shop-popup.active ~ * {
  pointer-events: none;
}

/* ===== CERRAR ===== */
.popup-close {
  position: absolute;
  top: 25px;
  right: 35px;
  font-size: 28px;
  padding: 5px 15px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 105;
}

/* ===== LAYOUT ===== */
.popup-wrapper {
  width: 85%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

/* ===== IZQUIERDA ===== */
.popup-left {
  height: 550px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-deck {
  perspective: 1000px;
}

.popup-deck img {
  width: clamp(120px, 30vw, 210px);
  transition: transform 0.2s ease;
  animation: floatDeck 3s ease-in-out infinite;
}

/* ===== DERECHA ===== */
.popup-right {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup-title {
  font-family: "anton";
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.popup-price {
  font-size: 22px;
  color: #ffd83a;
  font-weight: bold;
}

.popup-desc {
  color: #fff;
  font-size: 1rem;
  line-height: 1.6;
}

.popup-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
}

.popup-actions {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 22px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  background: #2a2a2a;
  color: #fff;

  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.btn.yes {
  background: #1b667f;
  color: #fff;
}

.btn.no {
  background: #1c1c1c;
  color: #ccc;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.arrow.left {
  padding: 10px 12px;
  left: 0px;
}
.arrow.right {
  padding: 7px 14px;
  right: 0px;
}

@keyframes floatDeck {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .shop-popup {
    align-items: flex-start;
  }

  .popup-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .popup-actions {
    justify-content: center;
  }

  .arrow.left {
    left: 10px;
  }
  .arrow.right {
    right: 10px;
  }
}

@media (max-width: 550px) {
  .popup-wrapper {
    gap: 0;
  }

  .popup-left {
    height: 490px;
  }
}
