.shop-section {
  background-image: url(/images/bg-texture.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-teaser-container {
  width: 63%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url(/images/magazine/bg-fly.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding: 3rem 0 0 3rem;
}

.shop-teaser-content {
  flex: 1 1 10%;
  max-width: 522px;
}

.shop-title-wrapper {
  position: relative;
  margin-bottom: 2rem;
  display: block;
  line-height: 1;
}

.shop-teaser-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 300;
  margin: 0 0 1.5rem 0;
}

.empty-div {
  height: 400px;
}

.shop-teaser-image img {
  max-width: 100%;
  position: relative;
  flex: 1 1 55%;
}

.skater {
  width: 55%;
  top: -29rem;
  left: 10rem;
  z-index: 2;
}

/*--- SHOP DETAIL SECTION ---*/

.shop-detail-section {
  width: 100%;
  min-height: 110vh;
  background-image: url("/images/shop/shop-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.gradient-filler {
  width: 100%;
  height: 170px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to top,
    #151515 0%,
    #151515e6 25%,
    #15151580 60%,
    transparent 100%
  );
  pointer-events: none;
  z-index: 50;
}

.shop-wall {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 7.2rem;
  padding-left: clamp(3rem, 14vw, 19%);
  gap: 20px;
}

.deck-row {
  width: fit-content;
  max-width: calc(5 * clamp(55px, 5vw, 70px) + 4 * clamp(20px, 3vw, 60px));
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: clamp(20px, 4vw, 90px);
}

.deck {
  width: clamp(55px, 5vw, 70px);
  height: clamp(160px, 18vw, 220px);
  border-radius: 40px;
  background: linear-gradient(180deg, #ffcc00, #ff6600);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
  cursor: pointer;
}

.deck:hover {
  transform: scale(1.1) rotate(2deg);
}

.deck-img {
  display: block;
  width: clamp(65px, 10vw, 105px);
  height: auto;
  max-width: 105px;
  object-fit: contain;
  transition: all 0.3s ease;
  cursor: pointer;
}

.deck-img:hover {
  transform: scale(1.04) rotate(1deg);
}

/* ===== RELATED SECTION ===== */

.related-section {
  padding: 7rem 5% 3rem;
  background: var(--black);
}

.related-title {
  font-family: "anton";
  color: #fff;
  font-size: clamp(28px, 4vw, 40px);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
}

.related-card {
  padding: 20px;
  text-align: center;
}

.related-div {
  width: fit-content;
  padding: 0 10px;
  cursor: pointer;
}

.related-card img {
  width: 100%;
  max-width: 110px;
  margin-bottom: 25px;
  transition: transform 0.3s;
}

.related-card:hover img {
  transform: scale(1.04) rotate(1deg);
}

.related-card h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.price {
  color: #fff;
  font-weight: bold;
}

@media (max-width: 992px) {
  .shop-teaser-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 40px 20px 0 20px;
    gap: 8rem;
  }

  .shop-teaser-content {
    order: -1;
    max-width: 100%;
  }

  .empty-div {
    height: 100%;
  }

  .skater {
    width: 60%;
    top: -16rem;
    left: 6rem;
  }

  .general-title-fg {
    position: static;
  }

  .shop-teaser-image {
    height: auto;
  }

  .shop-wall {
    padding-left: 8%;
  }
}

@media (max-width: 600px) {
  .shop-detail-section {
    height: 1280px;
  }

  .related-title {
    text-align: center;
  }

  .shop-wall {
    justify-content: start;
    padding-top: 8.8rem;
  }
}

@media (max-width: 576px) {
  .shop-teaser-content {
    text-align: center;
  }

  .shop-teaser-content p {
    font-size: 15px;
  }

  .deck-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  
  .related-div {
    width: 100%;
  }
}
